<!DOCTYPE html>
<html ng-app='mainApp'>

<head>
    <link rel="stylesheet" type='text/css' href="main.css">
    <link rel="stylesheet" type='text/css' href="reset.css">
    <meta charset="utf-8">
    <title>Main Page</title>
</head>

<body ng-controller='mainCtrl'>
    <div class="main_background">
        <div class="top_container">
            <button class='button' type="button" ng-click=''>Art of Dark Souls</button>
            <button class='button' type="button" ng-click=''>Bosses</button>
            <button class='button' type="button" ng-click=''>Community Contributors</button>
            <button class='button' type="button" ng-click=''>Store</button>
        </div>
    </div>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
    <script src='./mainjs/app.js'></script>
    <script src='./mainjs/mainCtrl.js'></script>
    <script src='./mainjs/mainSrv.js'></script>
</body>

</html>
